doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About Us - Weather Forecast
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href='/images/android-chrome-192x192.png')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.min.css", rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.min.js")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script.
      const navLinks = document.querySelectorAll(".navbar-nav a.nav-link");
      navLinks.forEach(link => {
        link.addEventListener("click", event => {
          event.preventDefault();
          const target = document.querySelector(link.getAttribute("href"));
          if (target) {
            window.scrollTo({
              top: target.offsetTop,
              behavior: "smooth"
            });
          }
        });
      })

    style.
      /* Custom styles */
      body {
        background-image: url('/images/mor.webp');
        background-size: cover;
        height: 50vh;
        background-color: #333;
      }
      .simplebar-scrollbar::before {
        background-color: #f06292;
      }
      .simplebar-track.simplebar-horizontal {
        background-color: #f06292;
      }
      .simplebar-track.simplebar-vertical {
        background-color: white;
      }
      .navbar-custom {
        background-color: #333;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: center;
      }
      .navbar-custom .navbar-brand {
        color: rgb(52, 175, 192);
        font-size: 24px;
        font-family: 'Pacifico', cursive;
      }
      .navbar-custom .nav-link {
        color: #ffffff;
        font-size: 16px;
        transition: color 0.3s;
      }
      .navbar-custom .nav-link:hover {
        color: #f06292;
      }
      .about-us-container {
        background-color: #333;
        border: none;
      }
      .about-us-title {
        color: #f06292;
        font-size: 24px;
        margin-top: 20px;
      }
      .about-us-text {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 20px;
      }

  body()
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      // ... (navbar code)
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        .navbar-brand
          a.logo(href='/') Weather Forecast
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/Forecast') Forecast
            li.nav-item
              a.nav-link(href='/Articles') Articles
            li.nav-item
              a.nav-link(href='/AboutUs') About Us
            li.nav-item
              a.nav-link(href='/contact') Contact
          .search-box.navbar-nav
            form.form-inline.my-2.my-lg-0
              input.form-control(type='text', placeholder='Search')
              button.btn.btn-outline-light(type='submit')
                i.fa.fa-search

  main.container.content
    h1 About Us
    p Learn more about our Weather Forecast team.

    .row.mt-4.about-us-container
      .col-md-12
        .about-us-title Our Team
        .about-us-text
          | At Weather Forecast, we are passionate about providing accurate and up-to-date weather information. Our dedicated team of meteorologists, data analysts, and web developers work together to ensure that you have access to the most reliable forecasts.
        .about-us-title Our Mission
        .about-us-text
          | Our mission is to make weather forecasting accessible and easy to understand for everyone. We believe that weather information should be clear and user-friendly, helping you plan your day with confidence.
        .about-us-title Contact Us
        .about-us-text
          | We value your feedback and questions. If you have any inquiries or suggestions, please don't hesitate to get in touch with us. You can reach us through our contact page, and we'll do our best to assist you.

    p Thank you for choosing Weather Forecast for all your weather updates!
