doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weather Forecast!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href='/images/android-chrome-192x192.png')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.min.css", rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/simplebar@5.3.0/dist/simplebar.min.js")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script.
      const navLinks = document.querySelectorAll(".navbar-nav a.nav-link");
      navLinks.forEach(link => {
        link.addEventListener("click", event => {
          event.preventDefault();
          const target = document.querySelector(link.getAttribute("href"));
          if (target) {
            window.scrollTo({
              top: target.offsetTop,
              behavior: "smooth"
            });
          }
        });
      })

    style.
      /* Custom styles */
      body {
        background-image: url('/images/mor.webp');
        background-size: cover;
        height: 50vh;
        background-color: #333;
      }
      .simplebar-scrollbar::before {
        background-color: #f06292;
      }
      .simplebar-track.simplebar-horizontal {
        background-color: #f06292;
      }
      .simplebar-track.simplebar-vertical {
        background-color: white;
      }
      .navbar-custom {
        background-color: #333;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: center;
      }
      .navbar-custom .navbar-brand {
        color: rgb(52, 175, 192);
        font-size: 24px;
        font-family: 'Pacifico', cursive;
      }
      .navbar-custom .nav-link {
        color: #ffffff;
        font-size: 16px;
        transition: color 0.3s;
      }
      .navbar-custom .nav-link:hover {
        color: #f06292;
      }
      .card {
        background-color: #333;
        border: none;
        transition: transform 0.2s;
      }
      .card:hover {
        transform: scale(1.05);
      }
      .card-title {
        color: #f06292;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .card-text {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .row.mt-4 {
        margin-top: 4rem;
      }

  body()
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      // ... (navbar code)
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        .navbar-brand
          a.logo(href='/') Weather Forecast
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/Forecast') Forecast
            li.nav-item
              a.nav-link(href='/Articles') Articles
            li.nav-item
              a.nav-link(href='/AboutUs') About Us
            li.nav-item
              a.nav-link(href='/contact') Contact
          .search-box.navbar-nav
            form.form-inline.my-2.my-lg-0
              input.form-control(type='text', placeholder='Search')
              button.btn.btn-outline-light(type='submit')
                i.fa.fa-search

  main.container.content
  h1  Weather  Blog
     p Explore the latest weather forecasts, articles, and more.
    .row.mt-4
      // First set of cards
      .col-md-4
          .card
            img.card-img-top(src='/images/15F27E7E-09E2-42B6-AD8D-08AA60BF180E_1_201_a.jpeg', alt='Hyderabad Weather')
            .card-body
            h5.card-title Location: Hyderabad Weather
            p.card-text Temperature: 30
            p.card-text Conditions: Sunny 
            p.card-text Humidity: 60 
            p.card-text Windspeed: 10 
            p.card-text Precipitation: 0
        .col-md-4
          .card
            img.card-img-top(src='/images/127F268B-4505-4635-B576-B01CD6CAD424_1_201_a.jpeg', alt='Andhra Pradesh Weather')
            .card-body
            h5.card-title Location: Andhra Pradesh Weather
            p.card-text Temperature: 28
            p.card-text Conditions: Partly Cloudy 
            p.card-text Humidity: 55 
            p.card-text Windspeed: 8 
            p.card-text Precipitation: 0
        .col-md-4
          .card
            img.card-img-top(src='/images/943CFAB2-8CF2-44A8-B17C-C18626C20111_1_201_a.jpeg', alt='Chennai Weather')
            .card-body
            h5.card-title Location: Chennai Weather
            p.card-text Temperature: 25
            p.card-text Conditions: Rainy 
            p.card-text Humidity: 75 
            p.card-text Windspeed: 15 
            p.card-text Precipitation: 0.5
